p,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: bold;
  color: rgb(13, 62, 212);
  text-transform: uppercase;
}

/* .my-portrait {
  border-top: 15px soid rgb(13, 62, 212);
} */

.main-header {
  font-size: 20px;
}

.my-background {
  text-align: center;
}

.main-header-all {
  border: 2px solid rgb(13, 62, 212);
  background-color: rgb(231, 227, 227);
  text-align: center;
}

// Place these anchor pseudo-code rules into each child css file!

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(228, 80, 17);
}

a:hover {
  font-weight: bold;
  color: rgb(13, 126, 9);
}

a:active {
  font-style: italic;
}
